/* ------------------------- */
/* ------- VARIABLES ------- */
/* ------------------------- */
/* --------------------------------- */
/* --------- GLOBAL STYLES --------- */
/* --------------------------------- */
/* ------------------------- */
/* ------- VARIABLES ------- */
/* ------------------------- */
/* -------------------------- */
/* ---------- MAIN ---------- */
/* -------------------------- */
* {
  box-sizing: border-box;
  font-family: "Lato";
}

#page-content {
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
  position: relative;
}

body {
  margin: 0;
}

/* -------------------------- */
/* --------- NAVBAR --------- */
/* -------------------------- */
#navbar-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background: #E1BF57;
}
#navbar-element .navbar-content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
}
#navbar-element .navbar-content-section .logo-section h1 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Lato";
  color: #3C3C3C;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#navbar-element .navbar-content-section .nav-buttons-section {
  display: grid;
  height: 100%;
  width: 40%;
  grid-template-columns: repeat(4, auto);
  gap: 1%;
  align-items: center;
}
#navbar-element .navbar-content-section .nav-buttons-section .nav-button {
  font-family: "Lato";
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  height: 65%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar-element .navbar-content-section .nav-buttons-section .nav-button .nav-button-icon {
  height: 16px;
  width: 16px;
  margin-right: 5%;
}
#navbar-element .navbar-content-section .nav-buttons-section .nav-button span {
  font-weight: 700;
}
#navbar-element .navbar-content-section .nav-buttons-section .nav-button-inactive {
  color: #3C3C3C;
  background: transparent;
}
#navbar-element .navbar-content-section .nav-buttons-section .nav-button-active {
  color: white;
  background: #3C3C3C;
}
#navbar-element .navbar-content-section .nav-buttons-section .nav-button-active .nav-button-icon {
  filter: invert(1);
}
#navbar-element .navbar-content-section .auth-buttons-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
#navbar-element .navbar-content-section .auth-buttons-section .auth-button {
  font-family: "Lato";
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3C3C3C;
  background: transparent;
}
#navbar-element .navbar-content-section .auth-buttons-section .auth-button .nav-button-icon {
  height: 16px;
  width: 16px;
  margin-right: 5%;
}
#navbar-element .navbar-content-section .auth-buttons-section .auth-button span {
  font-weight: 700;
}

/* -------------------------- */
/* --------- FOOTER --------- */
/* -------------------------- */
#footer-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background: #3C3C3C;
  position: absolute;
  bottom: 0;
  padding: 0% 3% 0% 3%;
}
#footer-element .social-media-links-section {
  width: 30%;
}
#footer-element .social-media-links-section .social-media-flexbox {
  display: flex;
  justify-content: space-between;
  width: 15%;
}
#footer-element .social-media-links-section .social-media-flexbox .sm-link {
  transition: all 200ms ease-in-out;
}
#footer-element .social-media-links-section .social-media-flexbox .sm-link:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}
#footer-element .social-media-links-section .social-media-flexbox .sm-link .sm-link-icon {
  height: 30px;
  width: 30px;
  filter: invert(1);
}
#footer-element .copyright-section {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-element .copyright-section small {
  color: white;
  font-size: 1rem;
}
#footer-element .logo-section {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
}
#footer-element .logo-section .logo-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}
#footer-element .logo-section .logo-flexbox .edit-logo {
  height: 40px;
  margin-right: 1%;
}
#footer-element .logo-section .logo-flexbox span {
  color: white;
}/*# sourceMappingURL=content-styles.css.map */