@import "./global-styles.scss";
@import "./styling-vars.scss";

/* -------------------------- */
/* ---------- MAIN ---------- */
/* -------------------------- */

* {
  box-sizing: border-box;
  font-family: $main-font-style;
}

.page-content {
  min-height: 100vh;
  width: 100%;
  background: $background-light-color;
  position: relative;
  z-index: 0;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.reveal {
  transform: translateY(75px);
  opacity: 0;
  transition: transform 300ms ease-in-out;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* -------------------------- */
/* --------- NAVBAR --------- */
/* -------------------------- */

#navbar-element {
  @include flexCentered();

  height: $navbar-height;
  width: 100vw;
  background: $main-theme-color;

  .navbar-content-section {
    @include flexVerticalCentered();

    justify-content: space-between;
    height: 100%;
    width: 100%;

    .navlink-element {
      text-decoration: none;
      height: 100%;

      display: inline-flex;
      align-items: center;
    }

    .logo-section,
    .auth-buttons-section {
      width: 20%;
    }

    .logo-section {
      @include flexCentered();

      h1 {
        font-size: 2.5rem;
        font-weight: 500;
        font-family: $main-font-style;
        color: $main-dark-theme-color;
        user-select: none;
      }
    }

    .nav-buttons-section {
      display: grid;
      height: 100%;
      width: 40%;
      grid-template-columns: repeat(4, 20%);
      gap: 1%;
      align-items: center;
      justify-content: center;

      .nav-button {
        @include standardButton(0.9rem, 65%);
        @include flexCentered();

        width: 100%;

        .nav-button-icon {
          @include buttonIcon(5%);
        }

        span {
          font-weight: 700;
        }
      }

      .navlink-active {
        button {
          color: $casual-light-text-color;
          background: $main-dark-theme-color;

          .nav-button-icon {
            filter: invert(1) brightness(100);
          }
        }
      }

      .navlink-inactive {
        button {
          color: $main-dark-theme-color;
          background: transparent;
        }
      }
    }

    .auth-buttons-section {
      @include flexCentered();

      .navlink-element {
        margin-right: 9%;
      }

      .auth-button {
        @include standardButton(0.9rem, 100%);
        @include flexCentered();

        color: $main-dark-theme-color;
        background: transparent;

        .nav-button-icon {
          @include buttonIcon(8%);
        }

        span {
          font-weight: 700;
        }
      }
    }
  }
}

/* ---------------------------- */
/* --------- HOMEPAGE --------- */
/* ---------------------------- */

#homepage-content {
  height: 110vh;

  .hp-homepage-text {
    @include flexHorizontalCentered();

    text-align: center;
    height: 32%;
    align-items: flex-end;

    h1 {
      font-size: 3rem;
      color: $casual-text-color;

      .text-coloring {
        font-weight: bolder;
        color: $main-theme-color;
        font-size: 4rem;
        text-shadow: 4px 4px 0px $casual-text-color;
      }
    }
  }

  .hp-feature-info-section {
    @include flexCentered();

    .fi-element {
      height: 50vh;
      width: 18vw;
      background: rgb(249, 249, 249);
      margin-left: 3%;
      border-radius: 12px;
      position: relative;
      cursor: pointer;
      //transition: 600ms;
      //box-shadow: 10px 10px 10px $main-theme-color;
      transition: all 150ms ease-in-out;

      &::before,
      &::after {
        content: "";
        z-index: -1;
        position: absolute;
        border-radius: inherit;
        height: inherit;
        width: inherit;
        top: 6px;
        left: 6px;
      }

      &::before {
        background: $main-dark-theme-color;
        transition: all 150ms ease-in-out;
      }

      &:hover::before {
        top: 12px;
        left: 12px;
        transition: all 150ms ease-in-out;
      }

      &::after {
        background: $main-theme-color;
      }

      /*
      &:hover {
        background-color: $main-theme-color;
        cursor: pointer;
        scale: 1.1;
        box-shadow: 10px 10px 20px black;
      }
*/

      section {
        height: 50%;
      }

      .fi-icon-section {
        @include flexCentered();

        img {
          height: 80px;
          width: 80px;
        }
      }

      .fi-text-section {
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;

        span {
          font-size: 1.3rem;
          font-weight: bold;
          color: $casual-text-color;
        }
      }
    }
  }
}

/* -------------------------- */
/* ---------- AUTH ---------- */
/* -------------------------- */

#authlogin-content {
  @include flexCentered();

  height: $main-content-height;

  .al-form-section {
    @include flexVerticalCentered();

    flex-direction: column;
    //height: 85vh;
    height: calc(100vh - ($navbar-height + $footer-height));
    width: 40vw;
    padding-top: 2%;

    h1 {
      @include formHeader();
    }

    .al-form {
      @include authForm(50%, $auth-form-width);

      display: flex;
      justify-content: space-between;

      label {
        color: $casual-text-color;
      }

      .auth-form-input {
        @include authFormInput();

        border: 1px solid #3c3c3c40;
        background: transparent;
        padding: 0 2% 0 2%;
        font-size: 1rem;
        transition: all 50ms ease-in-out;

        &:focus {
          border: 3px solid $main-theme-color;
          transition: all 50ms ease-in-out;
        }
      }

      .auth-input-err-empty {
        position: relative;

        &::after {
          @include errorAfterClass("* Polje mora biti ispunjeno.");
        }
      }

      .auth-input-err-min {
        position: relative;

        &::after {
          @include errorAfterClass("* Nadimak ne može biti kraći od 3 znaka.");
        }
      }

      .auth-input-err-max {
        position: relative;

        &::after {
          @include errorAfterClass(
            "* Nadimak ne može biti duži od 16 znakova."
          );
        }
      }

      .auth-input-err-spc {
        position: relative;

        &::after {
          @include errorAfterClass(
            "* Nadimak ne može sadržavati posebne znakove."
          );
        }
      }

      #al-submit-input {
        @include formSubmit();
      }

      .forget-password-label {
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
}

#authregister-content {
  @include flexHorizontalCentered();

  height: 120vh;

  .al-form-section {
    @include flexVerticalCentered();

    flex-direction: column;
    height: 85vh;
    width: 40vw;
    padding-top: 2%;

    h1 {
      @include formHeader();
    }

    .al-form {
      @include authForm(90%, $auth-form-width);

      display: flex;
      justify-content: space-between;

      label {
        color: $casual-text-color;
      }

      .auth-form-input {
        @include authFormInput();

        border: 1px solid #3c3c3c40;
        background: transparent;
        padding: 0 2% 0 2%;
        font-size: 1rem;
        transition: all 50ms ease-in-out;

        &:focus {
          border: 3px solid $main-theme-color;
          transition: all 50ms ease-in-out;
        }
      }

      #ar-submit-input {
        @include formSubmit();
      }

      .already-registered-label {
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
}

#action-success-message-content {
  @include flexHorizontalCentered();

  height: calc(100vh - ($footer-height + $navbar-height));

  .asm-section {
    padding-top: 6%;
    flex-direction: column;

    h1 {
      margin-bottom: 15%;
    }

    h4 {
      margin-top: 2%;
      margin-bottom: 4%;
    }

    .asm-button {
      @include formSubmit();
      @include standardButton(1rem, 9%);

      width: 70%;

      .asm-link {
        text-decoration: none;
        color: $casual-light-text-color;
      }
    }
  }
}

/* ---------------------------- */
/* -------- MY PROFILE -------- */
/* ---------------------------- */

#my-profile-content {
  @include flexCentered();
  padding-top: 3%;

  height: $main-content-height;

  .mp-fields {
    width: 30vw;
    height: 20vh;

    .mp-fields-field {
      .mp-field-data {
        width: 30%;
      }
      .mp-field-button {
        @include flexVerticalCentered();
        background: none;
        border: none;
        text-decoration: underline;
        color: #5774ad;
        cursor: pointer;
        img {
          height: 3vh;
          filter: invert(42%) sepia(97%) saturate(261%) hue-rotate(181deg)
            brightness(87%) contrast(89%);
          transition: all 200ms ease-in-out;
        }
        &:hover {
          img {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .mp-delete-button {
    @include standardButton(1rem, 6vh);
    background: rgb(191, 16, 16);
    margin-top: 3vh;
    width: 12vw;
    position: relative;
    color: $casual-light-text-color;

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      border-radius: inherit;
      height: inherit;
      width: inherit;
      top: 0px;
      left: 0px;
    }

    &::after {
      background: $main-dark-theme-color;
      transition: all 150ms ease-in-out;
    }

    &:hover::after {
      top: 4px;
      left: 4px;
      transition: all 150ms ease-in-out;
    }
  }
}

/* ----------------------------- */
/* ------ MY PROFILE-FORM ------ */
/* ----------------------------- */

.component-content {
  height: 60vh;

  section {
    height: 100%;
  }

  .mp-edit-form {
    @include authForm(75%, 25vw);
    display: flex;
    justify-content: space-between;

    .mp-edit-label {
      color: black;
    }

    .mp-edit-input {
      input {
        @include authFormInput();

        border: 1px solid #3c3c3c40;
        background: transparent;
        padding: 0 2% 0 2%;
        font-size: 1rem;
        transition: all 50ms ease-in-out;

        &:focus {
          border: 3px solid $main-theme-color;
          transition: all 50ms ease-in-out;
        }
      }
    }

    .mp-edit-buttons {
      display: flex;
      justify-content: space-between;

      .mp-edit-submit {
        @include standardButton(1rem, 6vh);
        background: $main-theme-color;
        margin-top: 3vh;
        width: 12vw;
        position: relative;

        input {
          background: transparent;
          outline: none;
          border: none;
          font-size: 1rem;
          color: $casual-text-color;
          font-weight: bold;
          cursor: pointer;
        }

        &::after {
          content: "";
          z-index: -1;
          position: absolute;
          border-radius: inherit;
          height: inherit;
          width: inherit;
          top: 0px;
          left: 0px;
        }

        &::after {
          background: $main-dark-theme-color;
          transition: all 150ms ease-in-out;
        }

        &:hover::after {
          top: 4px;
          left: 4px;
          transition: all 150ms ease-in-out;
        }
      }

      .mp-edit-back {
        @include standardButton(1rem, 6vh);
        background: rgb(191, 16, 16);
        margin-top: 3vh;
        width: 12vw;
        position: relative;
        color: $casual-light-text-color;

        &::after {
          content: "";
          z-index: -1;
          position: absolute;
          border-radius: inherit;
          height: inherit;
          width: inherit;
          top: 0px;
          left: 0px;
        }

        &::after {
          background: $main-dark-theme-color;
          transition: all 150ms ease-in-out;
        }

        &:hover::after {
          top: 4px;
          left: 4px;
          transition: all 150ms ease-in-out;
        }
      }
    }

    .mp-edit-forget {
      @include flexVerticalCentered();
      gap: 0.3rem;
      color: black;
      .mp-edit-forget-text {
        height: 2vh;
        font-size: 0.8rem;
      }
      .mp-edit-forget-link {
        font-weight: bolder;
        align-self: center;
        height: 2vh;
        font-size: 0.8rem;
        color: black;
      }
    }
  }
}

/* -------------------------- */
/* --------- FOOTER --------- */
/* -------------------------- */

#footer-element {
  @include flexVerticalCentered();

  justify-content: space-between;
  height: $footer-height;
  width: 100vw;
  background: $main-dark-theme-color;
  position: absolute;
  bottom: 0;
  padding: 0% 3% 0% 3%;

  .social-media-links-section {
    @include footerSection();
    @include flexVerticalCentered();

    small {
      margin-left: 3%;
      color: $casual-light-text-color;
    }

    .social-media-flexbox {
      display: flex;
      justify-content: space-between;
      width: 15%;

      .sm-link {
        transition: all 200ms ease-in-out;

        &:hover {
          transform: scale(1.1);
          transition: all 200ms ease-in-out;
        }

        .sm-link-icon {
          @include footerIcon();
        }
      }
    }
  }

  .copyright-section {
    @include footerSection();
    @include flexCentered();

    small {
      color: $casual-light-text-color;
    }
  }

  .logo-section {
    @include footerSection();
    @include flexVerticalCentered();

    justify-content: flex-end;

    .logo-flexbox {
      @include flexCentered();

      width: 60%;

      .edit-logo {
        height: 40px;
        margin-right: 1%;
      }

      small {
        color: $casual-light-text-color;
      }
    }
  }
}
