@import "./global-styles.scss";
@import "./styling-vars.scss";


/* -------------------------- */
/* ---------- MAIN ---------- */
/* -------------------------- */

* {
    box-sizing: border-box;
    font-family: $main-font-style;
}

#page-content {
    height: 100vh;
    width: 100vw;
    background: $background-light-color;
    position: relative;
}

body {
    margin: 0;
}


/* -------------------------- */
/* --------- NAVBAR --------- */
/* -------------------------- */

#navbar-element {
    @include flexCentered();

    height: $navbar-height;
    width: 100vw;
    background: $main-theme-color;

    .navbar-content-section {
        @include flexVerticalCentered();
        
        justify-content: space-between;
        height: 100%;
        width: 80%;

        .logo-section {

            h1 {
                font-size: 2.5rem;
                font-weight: 900;
                font-family: $main-font-style;
                color: $main-dark-theme-color;
                user-select: none;
            }
        }

        .nav-buttons-section {
            display: grid;
            height: 100%;
            width: 40%;
            grid-template-columns: repeat(4, auto);
            gap: 1%;
            align-items: center;
    
            .nav-button {
                @include standardButton(1rem, 65%);
                @include flexCentered();

                .nav-button-icon {
                    @include buttonIcon();
                }

                span {
                    font-weight: 700;
                }
            }

            .nav-button-inactive {
                color: $main-dark-theme-color;
                background: transparent;
            }

            .nav-button-active {
                color: $casual-light-text-color;
                background: $main-dark-theme-color;

                .nav-button-icon {
                    filter: invert(1);
                }
            }
        }

        .auth-buttons-section {
            @include flexVerticalCentered();

            justify-content: space-around;
            width: 20%;

            .auth-button {
                @include standardButton(1rem, 100%);
                @include flexCentered();

                color: $main-dark-theme-color;
                background: transparent;

                .nav-button-icon {
                    @include buttonIcon();
                }

                span {
                    font-weight: 700;
                }
            }
        }
    }
}


/* -------------------------- */
/* --------- FOOTER --------- */
/* -------------------------- */

#footer-element {
    @include flexVerticalCentered();

    justify-content: space-between;
    height: $footer-height;
    width: 100vw;
    background: $main-dark-theme-color;
    position: absolute;
    bottom: 0;
    padding: 0% 3% 0% 3%;

    .social-media-links-section {
        @include footerSection();

        .social-media-flexbox {
            display: flex;
            justify-content: space-between;
            width: 15%;

            .sm-link {
                transition: all 200ms ease-in-out;
    
                &:hover {
                    transform: scale(1.1);
                    transition: all 200ms ease-in-out;
                }
    
                .sm-link-icon {
                    @include footerIcon();
                }
            }
        }
    }

    .copyright-section {
        @include footerSection();
        @include flexCentered();

        small {
            color: $casual-light-text-color;
            font-size: 1rem;
        }
    }

    .logo-section {
        @include footerSection();
        @include flexVerticalCentered();

        justify-content: end;

        .logo-flexbox {
            @include flexCentered();

            width: 65%;

            .edit-logo {
                height: 40px;
                margin-right: 1%;
            }
    
            span {
                color: $casual-light-text-color;
            }
        }
    }
}