@import "./styling-vars.scss";

/* --------------------------------- */
/* --------- GLOBAL STYLES --------- */
/* --------------------------------- */

@mixin flexCentered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexVerticalCentered() {
  display: flex;
  align-items: center;
}

@mixin flexHorizontalCentered() {
  display: flex;
  justify-content: center;
}

@mixin standardButton() {
  font-family: $main-font-style;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

@mixin buttonIcon($margin) {
  height: 16px;
  width: 16px;
  margin-right: $margin;
}

@mixin footerSection() {
  width: 30%;
}

@mixin footerIcon() {
  height: 25px;
  width: 25px;
  filter: invert(1) brightness(100);
}

@mixin authForm($form-height, $form-width) {
  flex-direction: column;
  height: $form-height;
  width: $form-width;
}

@mixin authFormInput() {
  border-radius: 5px;
  outline: none;
}

@mixin formSubmit() {
  background: $main-dark-theme-color;
  color: $casual-light-text-color;
  cursor: pointer;
}

@mixin formHeader() {
  color: $casual-text-color;
  font-weight: bold;
}

@mixin errorAfterClass($error-message) {
  content: $error-message;
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 0.8rem;
  line-height: 1;
}

@mixin formInput() {
  border: 1px solid #3c3c3c40;
  background: transparent;
  padding: 0 2% 0 2%;
  transition: all 50ms ease-in-out;

  &:focus {
    border: 3px solid $main-theme-color;
    transition: all 50ms ease-in-out;
  }
}