@import "./styling-vars.scss";

/* --------------------------------- */
/* --------- GLOBAL STYLES --------- */
/* --------------------------------- */

@mixin flexCentered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexVerticalCentered() {
  display: flex;
  align-items: center;
}

@mixin flexHorizontalCentered() {
  display: flex;
  justify-content: center;
}

@mixin standardButton($fontSize, $height) {
  font-family: $main-font-style;
  font-size: $fontSize;
  border-radius: 5px;
  border: none;
  height: $height;
  cursor: pointer;
}

@mixin buttonIcon() {
  height: 16px;
  width: 16px;
  margin-right: 5%;
}

@mixin footerSection() {
  width: 30%;
}

@mixin footerIcon() {
  height: 25px;
  width: 25px;
  filter: invert(1) brightness(100);
}

@mixin authForm($form-height) {
  flex-direction: column;
  height: $form-height;
  width: $auth-form-width;
}

@mixin authFormInput() {
  height: $auth-input-height;
  width: 100%;
  border-radius: 7px;
  outline: none;
  border: none;
}

@mixin authFormSubmit() {
  background: $main-dark-theme-color;
  color: $casual-light-text-color;
  cursor: pointer;
}

@mixin authFormHeader() {
  width: $auth-form-width;
  font-size: 2rem;
  color: $casual-text-color;
}

@mixin errorAfterClass($error-message) {
  content: $error-message;
  position: absolute;
  top: 110%;
  left: 0;
  color: red;
  font-size: 0.8rem;
}