/* ------------------------- */
/* ------- VARIABLES ------- */
/* ------------------------- */

$main-theme-color: #E1BF57;
$main-dark-theme-color: #3C3C3C;

$background-light-color: whitesmoke;

$main-font-style: 'Lato';

$navbar-height: 10vh;

$footer-height: 20vh;

$casual-text-color: #3C3C3C;
$casual-light-text-color: white;