/* ------------------------- */
/* ------- VARIABLES ------- */
/* ------------------------- */

$main-theme-color: #e1bf57;
$main-dark-theme-color: #3c3c3c;

$background-light-color: whitesmoke;

$main-font-style: "Lato";

$navbar-height: 10vh;
$footer-height: 10vh;
$main-content-height: calc(100% - ($navbar-height + $footer-height));

$casual-text-color: #3c3c3c;
$casual-light-text-color: white;
