/* ------------------------- */
/* ------- VARIABLES ------- */
/* ------------------------- */

$main-theme-color: #E1BF57;
$main-dark-theme-color: #3C3C3C;

$background-light-color: whitesmoke;

$main-font-style: 'Lato';

$navbar-height: 10vh;